h2 {
    text-align: center;
}

table {
    margin: auto;
    width: 450px;
}

.td_left {
    width: 150px;
    background-color: orange;
}

.td_right {
    width: 300px;
    background-color: skyblue;
}

#commandCell {
    text-align: center;
}